{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.ts",
      "options": { "printWidth": 95 }
    }
  ]
}
